$green: #00ec00;
$gray: #828282;

.FestoContainer {
  font-size: 16px;
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;
  
  
  & .CodeMirror {
    border-radius: 0 0 .5em .5em;
    height: 100%;
  }
}

.button {
  width: 350px;
  border-radius: 5px;
  background: $gray;
  font-size: 2em;
  padding: .5em;
  color: white;
  cursor: pointer;
  width: 100%;
  box-shadow: -2px -2px 0px rgba(0, 0, 0, .3) inset;
  &:focus {
    outline: none;
  }

  &-success {
    background: $green;
  }
}