body {
  background: black;
  display: flex;
  min-height: 100vh;
}

$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}

@function rad($grados) {
  @return $grados * $pi / 180;
}

/*$number: cantidad de copias del like*/
/*$radio: distancia de las copias al centro*/
@function reply ($number, $radio) {
  $angle: 360 / $number;
  $text-shadow: '';
  
  @for $i from 1 through $number {
    @if $i % 2 == 0 {
      $text-shadow: $text-shadow
                  + $radio * cos(rad($angle * $i)) * 0.55
                  + ' '
                  + $radio * sin(rad($angle * $i)) * 0.55;

    } @else {
      $text-shadow: $text-shadow
                  + $radio * cos(rad($angle * $i))
                  + ' '
                  + $radio * sin(rad($angle * $i));
    }
    
    @if $i < $number { $text-shadow: $text-shadow + ',' }
  }
  
  @return unquote($text-shadow);
}

.fa-heart {
  --color: #97d433;
  margin: auto;
  font-size: 3em;
  color: var(--color);
  cursor: pointer;
  transform: scale(.6);
  will-change: transform;
}

.liked {
  animation: liked .5s ease-out
}

@keyframes liked {
  to {
    text-shadow: reply(10, 120px);
    transform: none;
    color: transparent;
  }
}

¿Cuál es la diferencia entre crear una función de un objeto con prototype y crearla realmente en el constructor del objeto?